
<footer class="footer">
  <div class="container">
      <p class="text-muted">&copy; 2017 Admin-Coder Repository.
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="icon ion-social-linkedin"></i>&nbsp;<a href="http://www.linkedin.com" target="_blank">Linkedin</a>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="icon ion-social-twitter"></i>&nbsp;<a href="http://www.twitter.com/@imarpit3g" target="_blank">Twitter</a>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="icon ion-social-facebook"></i>&nbsp;<a href="http://www.facebook.com/ArpitRG" target="_blank">Facebook</a>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="icon ion-social-windows"></i><a href="#" target="_blank">&nbsp;Windows Live</a>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="icon ion-social-skype"></i><a href="http://www.skype.com/Arpit.Gupta03" target="_blank">&nbsp;Skype</a></p>
  </div>
</footer>    
