<!DOCTYPE html>
<!--[if IE 9 ]><html class="no-js ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->

<head>

	<!-- Basic Page Needs -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<meta name="description" content="">
	<meta name="author" content="">
	
	<title>Banker-Mitra</title>

	<!-- CSS -->
	<link rel="stylesheet" href="css/grid.css">
	<link rel="stylesheet" href="css/base.css">
	<link rel="stylesheet" href="css/layout.css">
	<link rel="stylesheet" href="css/primary-color/blue.css" id="primary-color">
	<link rel="stylesheet" href="css/secondary-color/orange.css" id="secondary-color">
	<link rel="stylesheet" href="css/extra-color/red.css" id="extra-color">
	<link rel="stylesheet" href="css/custom.css">
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Montserrat:400,700%7CQuattrocento+Sans:400,700,400italic,700italic%7CRoboto+Slab:400%7COpen+Sans:400,700,300,600,400italic">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/ionicons.min.css">
	<link rel="stylesheet" href="css/animate.min.css">
	<link rel="stylesheet" href="css/magnific-popup.css">
	<link rel="stylesheet" href="css/owl.carousel.min.css">
	<link rel="stylesheet" href="css/owl.theme.default.min.css">
	
	
	<!-- Java Script -->
	<script>(function(html){html.className = html.className.replace(/\bno-js\b/,'js')})(document.documentElement);</script>
	
</head>

<body>

<!-- START HEADER -->

<header id="header" class="extended">
	
	<div class="container"> <!-- Container -->
			
		<!-- Logo -->
		<div id="logo">
			<a href="index.html">
				<img src="images/logo.png" alt="logo" class="normal-dpi">
				<img src="images/logo-2x.png" alt="logo" class="high-dpi">
			</a>
		</div>
		
		<!-- Header Navigation -->
		<nav id="navigation">
			
			<!-- Mobile Side Menu -->
			<div id="mobile-nav-toggle">
				<a id="mobile-menu-button" href="#mobile-nav"><i class="fa fa-bars"></i></a>
			</div>
			
			<!-- Header Top Links -->
			<div id="secondary-nav">
			
				
				
			</div>
			
			<!-- Main Menu -->
			<div id="primary-nav">
				
				<ul id="main-menu">
					<li class="menu-item menu-item-has-children"><a href="index.html">Home</a>
					<li class="menu-item menu-item-has-children"><a href="about-us.html">About Us</a>
						
					</li>
					
					<li class="menu-item menu-item-has-children"><a href="how-we-can-help.html">How We Can Help</a>
						
					</li>
					
					<li class="menu-item menu-item-has-children"><a href="team.html">Our Team</a>
						
					</li>
					
					
					
					<li class="menu-item"><a href="#">Registration</a></li>
					
				<li class="menu-item button-item"><a href="#">Download Practical Guide</a></li>
					
				</ul>
			
			</div>
			<!-- end Main Menu -->
			
		</nav>
		
	</div> <!-- end Container -->
	
</header>

<!-- END HEADER -->


<!-- START CONTENT -->

<section id="main">
	
	<!-- Hero Image & Page Title -->
	<div id="hero-image" class="image-bg">
	
		<div class="slide banner-about-us" data-caption-bg-color="green-yellow"> <!-- Possible values: "red", "tomato", "orange-red", "chocolate", "orange", "dark-yellow", "yellow", "olive", "green-yellow", "green", "see-green", "turquoise", "light-blue", "steel-blue", "royal-blue", "blue", "blue-violet", "purple", "deep-pink", "grey" -->
				
			<div class="container">
				<div class="row">
					<div class="col-sm-12 columns">
						<div class="page-title-wrapper">
							<div class="page-title">
								<h1>About Us</h1>
							</div>
						</div>
						<div class="trapezium-bg"><span></span></div>
					</div>
				</div>
			</div>
			
		</div>
	
	</div>
	<!-- end Hero Image & Page Title -->
	
	<!-- Page Content -->
	<div id="page-content" class="fullwidth-layout">
		
		<div class="container"> <!-- Container -->
			
			<div class="row">
				
				<!-- Side Menu -->
				<aside class="col-md-4 columns side-menu-widget">
					<ul class="side-menu">
						<li class="menu-item current-menu-item"><a href="about-us.html">About us</a></li>
						<li class="menu-item"><a href="how-we-can-help.html">How We Can Help</a></li>
						<li class="menu-item"><a href="team.html">Meet the Team</a></li>
						
					</ul>
				</aside>
				<!-- end Side Menu -->
				
				<div class="col-md-8 columns page-intro">
					
				  <p class="left-border-block lead-text-large text-black"><em>Bankermitra</em>,  is a group of a retired trainer in  Banking  and retired  bank executives having practical experience of over 35 years .					</p>
					<p><strong>Mission: </strong> To share our experience and knowledge with the younger generation of bankers so as to sharpen their  skills for rendering banking services confidently, efficiently and  effectively.</p>
					
					<p><strong>Vision:</strong> To bring out practical guides covering common extant guidelines and best 
Practices  relating to select areas of banking. </p>
					
				</div>
				
			</div>
		
		</div> <!-- end Container -->
		
		<!-- Stripe section -->
		<div class="stripe stripe-secondary-color-bg stripe-left-col-fullwidth-image">
			<div class="stripe-upper-bg"></div>
			
			<div class="container"> <!-- Container -->
				
				<div class="row">
					
					<div class="col-sm-12 col-md-6 columns">
					
						<figure>
							<img src="images/about-us-1000x750.jpg" alt="about us"> <!-- image ratio - 4/3, min width - 1000px -->
						</figure>
						
					</div>
					
					<div class="col-sm-12 col-md-6 columns">
							
						<h5 class="text-secondary-color-dark margin-bottom-5px">Our Philosophy.</h5>
					  <h2 class="text-white">Handle retail credit confidently efficiently & effectively</h2>
						
						
						
					</div>
					
				</div>
			
			</div> <!-- end Container -->
			
		</div>
		
	</div>
</section>

<!-- END CONTENT -->


<!-- START FOOTER -->

<footer id="footer" class="footer-style-2">
	
	<div class="container"> <!-- Container -->
		
		<div class="row">
			
			<div class="col-sm-12 ">
				
								<div class="offset-md-right-40px clearfix" style="text-align:left !important">

					
					<!-- Contact Details -->
					<h4 class="title">Get in touch</h4>
					
					<p>D.D.Deshpande  Mobile +919822290054           email : d2desh@gmail.com</p>
					<p>Satish J Misar       Mobile +918805025465           email :  sjmisar@gmail.com</p>
					<p>Dr. V S Kaveri       Mobile +919890263609           email :  vskaveri@gmail.com</p>
					<p>Pradip  Mopkar   Mobile +919825011799           email :  pdmopkar@gmail.com</p>
					<p class="contact-address">&nbsp;</p>
					
					
					
				</div>
				
			</div>
			
			
			
			
		
		</div>
		
	</div> <!-- end Container -->

</footer>

<footer id="footer-bottom">
	
	<div class="container"> <!-- Container -->
		
		<div class="row">
		
			<div class="columns bottom-left-col">
				<p>© 2018 Bankermitra.in</p>
			</div>
			
			<div class="columns bottom-right-col">
				<ul class="links">
					<li><a href="#">Privacy Policy</a><span>|</span></li>
					
				</ul>
			</div>
			
			<span class="scroll-top"><i class="ion ion-android-arrow-up"></i></span>
		
		</div>
		
	</div> <!-- end Container -->
	
</footer>

<!-- END FOOTER -->


<!-- Java Script -->
<script src="js/html5media.min.js"></script>
<script src="js/jquery.min.js"></script>
<script src="js/jquery.easing.min.js"></script>
<script src="js/jquery.cycle2.min.js"></script>
<script src="js/jquery.cycle2.swipe.min.js"></script>
<script src="js/jquery.fitvids.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/owl.carousel.min.js"></script>

<script src="js/custom.js"></script>


</body>

</html>
