<!--
Author: Arpit Gupta
Author URL: www.arpitram.com, www.arpitram.in
License: 
License URL: 
-->
<!DOCTYPE html>
<!-- The ng-app directive tells angular that the code below should be evaluated -->
<html ng-app="ProfileApp">
<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-119273668-1"></script>
<script data-ad-client="ca-pub-1781382531168042" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-119273668-1');
</script>
<title>Arpit Gupta</title>
	<!-- CDN based url to call Angular JS Script -->
    <!-- <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script> -->
    <script src = "angular/google-angular.js"></script>
<!--<script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
-->
<!--mobile apps-->
<meta name="google-site-verification" content="gkx9RJEYEv6r7QgTkP-e88-aTPzB44vp0ZwQTwYRFKo" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="About Arpit Gupta" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--mobile apps-->
<!--Custom Theme files-->
<link href="images/favicon.ico" rel="Shortcut Icon" />
<script src="javascripts/jquery.min.js"></script>
<link href="stylesheets/bootstrap_html.css" type="text/css" rel="stylesheet" media="all">
<link href="stylesheets/style_contact.css" type="text/css" rel="stylesheet" media="all">
<link rel="stylesheet" href="stylesheets/swipebox.css">
<link href="stylesheets/ionicons.css" rel="stylesheet">
<link href="stylesheets/ionicons.min.css" rel="stylesheet">
<!--//Custom Theme files-->
<script src="angular/main.js"></script>
<!-- //js -->
<!--web-fonts-->
<link href='//fonts.googleapis.com/css?family=Overlock:400,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>
<!--//web-fonts-->
<!--start-smooth-scrolling-->
<script type="text/javascript" src="javascripts/move-top.js"></script>
<script type="text/javascript" src="javascripts/easing.js"></script>	
<script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){		
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
			});
		});
</script>
<!--//end-smooth-scrolling-->
</head>
<body ng-controller="TabsController">
	<!--banner-->
	<div id="home" class="banner">
		<div class="banner-info">
			<div class="container">
				<div class="col-md-4 header-left">
					<img src="images/Arpit.png" alt=""/>
				</div>
				<div class="col-md-8 header-right">
					<!--<h2>Hello,</h2>-->
					<br/>
					<h1>Arpit Gupta</h1>
					<h6>Java, Python &amp; MEAN Full Stack Developer, DevOps Engineer</h6>
					<ul class="address">
						<li>
							<ul class="address-text">
								<li><i class="icon ion-ios-calendar-outline"></i>&nbsp;&nbsp;D.O.B</li>
								<li>September 3</li>
							</ul>
						</li>
						<li>
							<ul class="address-text">
								<li><i class="icon ion-iphone"></i>&nbsp;&nbsp;Contact</li>
								<li>+91 8805512560</li>
							</ul>
						</li>
						<li>
							<ul class="address-text">
								<li><i class="icon ion-ios-home"></i>&nbsp;&nbsp;Company</li>
								<li>C-DAC R&amp;D</li>
							</ul>
						</li>
						<li>
							<ul class="address-text">
								<li><i class="icon ion-ios-location"></i>&nbsp;&nbsp;Location</li>
								<li>Pune, Maharashtra (INDIA)</li>
							</ul>
						</li>
						<li>
							<ul class="address-text">
								<li><i class="icon ion-email"></i>&nbsp;&nbsp;Email ID</li>
								<li><i class="icon ion-social-google"></i>&nbsp;<a href="mailto:gupta.arpit03@gmail.com">gupta.arpit03@gmail.com</a>&nbsp;<i class="icon ion-social-yahoo"></i>&nbsp;<a href="mailto:coolarpit143@yahoo.com">coolarpit143@yahoo.com</a></li>
							</ul>
						</li>						
						<li>
							<ul class="address-text">
								<li><i class="icon ion-android-globe"></i>&nbsp;&nbsp;Website</li>
								<li><a href="http://www.arpitram.com" target="_blank">www.arpitram.com</a>&nbsp;<a href="http://www.arpitram.in" target="_blank">www.arpitram.in</a></li>
							</ul>
						</li>						
					</ul>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!--//banner-->
	<!--top-nav-->
	
	<div class="top-nav wow">
		<div class="container">
			<div class="navbar-header logo">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<i class="icon ion-android-menu"></i>&nbsp;Menu
				</button>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" ng-controller="menuController as menus">
				<div class="menu">
					<ul class="nav navbar">
						<li ng-class="{ active: isSet(1) }"><a href ng-click="setTab(1)" class="scroll"><i class="icon ion-ios-person"></i>&nbsp;&nbsp;{{ menu[1] }}</a></li>
						<li ng-class="{ active: isSet(2) }"><a href ng-click="setTab(2)" class="scroll"><i class="icon ion-pricetags"></i>&nbsp;&nbsp;{{ menu[2] }}</a></li>
						<li ng-class="{ active: isSet(3) }"><a href ng-click="setTab(3)" class="scroll"><i class="icon ion-university"></i>&nbsp;&nbsp;{{ menu[3] }}</a></li>
						<li ng-class="{ active: isSet(4) }"><a href="/workarea"><i class="icon ion-android-desktop"></i>&nbsp;&nbsp;{{ menu[4] }}</a></li>
						<li ng-class="{ active: isSet(5) }"><a href="/accolades"><i class="icon ion-ribbon-b"></i>&nbsp;&nbsp;{{ menu[5] }}</a></li>
						<li ng-class="{ active: isSet(6) }"><a href ng-click="setTab(6)" target="_blank"><i class="icon ion-ios-contact"></i>&nbsp;&nbsp;{{ menu[6] }}</a></li>
						<li ng-class="{ active: isSet(7) }"><a href="https://arpitram.tumblr.com/" target="_blank"><i class="icon ion-ios-book"></i>&nbsp;&nbsp;{{ menu[7] }}</a></li>
						<li ng-class="{ active: isSet(7) }"><a href="https://codewitharpit.teachable.com/" target="_blank"><i class="icon ion-code"></i>&nbsp;&nbsp;{{ menu[8] }}</a></li>
					</ul>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
	</div>				
    
	<!--//top-nav-->
	<!--about-->
	<div id="about" class="about" ng-show="isSet(1)">
		<div class="container">
			<h3 class="title"><i class="icon ion-ios-person"></i>&nbsp;About Me</h3>
			<div class="col-md-8 about-left">
				<p>I am a Technologist and an avid lover of open source technologies. I love to learn about new technologies and I am so passionate about it. I have completed Oracle Java &amp; Microsoft Server Certification which have taken my journey on the verge of becoming a good IT Professional. I have worked in R&amp;D organization for more than 6 years, ultimately gaining experience in open source technologies.</p>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;With this experience, I have came across so many technologies related with every aspect of IT that has helped me in building a robust architecture &amp; projects under Ministry of Electronics &amp; Information Technology. I have worked on various Indian Government projects such as MSH (MeitY Startup Hub), IPR (Intellectual Property Rights) in ICT domain, IDN-EAI (Email Address Internationalization), Election Commission of India, etc.</p>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;As far as my goals are concerned, I am now looking forward to work on more dynamic environment where I can learn and gain more in-depth knowledge about latest and upcoming technologies. I have mention few accomplishments that I have achieved in my short career &amp; looking forward to learn &amp; achieve more.</p><br/>
				<h4 style="text-decoration: underline;"><strong>Full Stack Developer</strong></h4>
				<br/>
				<ul style="margin-bottom: 2em;" class="about-li">						
					<li>Over 6 years of professional experience as a <strong>Full Stack Developer(Java)</strong> in analysis, design, development, implementation and troubleshooting various web based applications.</li>
					<li>Experience in following best practices and principles such as Design Patterns, SOLID Design Principles & Clean Coding (Refactoring).</li>
					<li>Working knowledge in <strong>Core Java</strong> and <strong>JavaEE</strong> platform with <strong>Servlets, JSP, JDBC, Hibernate, Spring MVC, Spring Boot</strong>.</li>
					<li>Experienced working on <strong>Spring Boot Microservices 2.1.x</strong> and their deployment as <strong>Docker containers</strong>
					<li>Hands on Experience on Test Driven Development <strong>(TDD)</strong> approach using <strong>Junit 5</strong> Testing Framework.</li>
					<li>Having experience working with database technologies like <strong>MySQL v5.x, MariaDB v5.5, Redis v3.2.12 & MongoDB v3.2 Server</strong>.</li>
					<li>Experienced working on different layers of Spring MVC architecture such as <strong>Spring - Controller, Service</strong> and <strong>Repository</strong> classes.</li>
					<li>Hands on experience working on <strong>Hibernate Beans</strong> & <strong>HQL</strong> to map to tables and retrieve data from the database.</li>
					<li>Experience with Logging/Tracing API/tool</li>			
					<li>Experienced in design, development & deployment of web-based applications using servers such as <strong>Apache Httpd 2.2.x/2.4, Apache Tomcat 7/8</strong> and <strong>NginX 1.16.x</strong>.</li>
					<li>Good experience in developing <strong>RESTful Webservices</strong> for Mobile App using <strong>Jersey 2</strong> and APIs with <strong>JSON Web Tokens (JWT)</strong>.</li>
					<li>Proficient at designing dynamic web applications using <strong>HTML5, CSS3, Bootstrap, JavaScript, AJAX, JSON, YAML</strong> and <strong>Angular JS</strong>.</li>
					<li>Good knowledge in developing <strong>Single Page Applications(SPA)</strong> using <strong>JavaScript</strong> MVC frameworks such as <strong>Angular JS</strong> &amp; UI library such as <strong>ReactJS</strong>.</li>
					<li>Skilled at creating Controllers, Services etc. using Angular JS.</li>
					<li>Good knowledge of <strong>Python</strong> 2.7 & 3.x language.</li>
					<li>Integrated Python with Apache 2.2.x Web Server using CGI Scripting.</li>
					<li>Development of Agentless Chatbots using <strong>RASA-NLU NLP tool</strong> for intent classification, response retrieval & entity extraction.</li>
					<li>Experience in building <strong>MEAN</strong> applications like Chatbots, Helpdesk System using MongoDB, Express.JS, Angular-JS, Node-JS, creating Web services components of Restful Web services to interact with UI Interfaces using REST API with Node-JS, Express-JS and installing client side dependencies using Bower.</li>
					<li>Used Node Package Manager (NPM) to manage or install the Node-JS modules like Express.js, mongoose, mongo.js, body-parser, bcrypt.js and socket.io.</li>
					<li>Experience in implementing Mongo DB CRUD (Create Read Update Delete) operations by using Mongoose library in Node-JS including Angular JS.</li>
					<li>Working experience in <strong>Joomla PHP</strong> based Content Management System for managing website content.</li>
					<li>Troubleshooting & Debugging Applications using Postman/Burp Suite/Chrome ARC tools.</li>
					<li>Hands on Experience in troubleshooting real time applications for monitoring resource utilization, compatibility issues, integration issues.</li>
				</ul>
				<h4 style="text-decoration: underline;"><strong>DevOps Engineer</strong></h4>
				<br/>
				<ul class="about-li">										
					<li>Worked on heterogeneous server environment including <strong>Linux</strong> major distros such as RedHat Enterprise Linux 7, 6.x, CentOS 7.x, 6.x, Fedora &amp; Ubuntu, Windows Server.</li>
					<li>Written various scripts on <strong>Python, Batch</strong> &amp; <strong>Shell Scripting</strong> for task automation.</li>
					<li>Working knowledge of <strong>Docker, Openshift</strong> & <strong>Kubernetes</strong>.</li>
					<li>Implementation & working experience on <strong>Continuous Integration / Continuous Deployment (CI/CD)</strong> process using Jenkins 2.</li>
					<li>Hands on experience on Infrastructure-As-Code tools like <strong>Ansible</strong>, built and deployed various <strong>Ansible playbooks</strong> and modules in the Production and Staging environments.</li>
					<li>Experience with <strong>Maven</strong> and <strong>Apache Ant</strong> as a build automation tool for Java Application.</li>
					<li>Worked on Version control systems like <strong>Subversion</strong> and <strong>Git</strong>.</li>
					<li>Hands on experience in deploying applications in <strong>Redhat Openshift 3</strong> Platform as a Service.</li>
					<li>Elementary knowledge on Code coverage tools like </strong>SonarQube</strong>.</li>
					<li>Hands on experience on <strong>Postfix 3</strong> & <strong>Dovecot 2</strong> Mail Servers.</li>
					<li>Good experience in Web Application / Services <strong>Security Audit</strong> and Vulnerabilities fixes.</li>
					<li><strong>Virtualization Technologies</strong> such as <strong>VMWare</strong> for VM Creation, Resources add-ons using Hot Swap, Configure networks, etc.</li>
					<li>Ability to use a wide variety of <strong>open source technologies</strong>.</li>
					<li>Hands on experience in troubleshooting System services, OS related issues, networking issues.</li>
				</ul>	
			</div>
			<div class="col-md-4 about-right">
				<ul>
					<h5><i class="icon ion-trophy"></i>&nbsp;Achievements</h5>
					<li><span class="glyphicon glyphicon-menu-right"></span>Oracle Certified Associate, Java SE 7 Programmer (Certification Number : 235425827OCAJSE7)</li>
					<li><span class="glyphicon glyphicon-menu-right"></span>Microsoft Certified Technology Specialist (Certification Number : D448-3257, E918-6701)</li>
					<li><span class="glyphicon glyphicon-menu-right"></span>C-DAC Star Performer Award</li>
					<li><span class="glyphicon glyphicon-menu-right"></span>Python Learning Certificate (Certification Number : #1073-7110673)</li>	
					<li><span class="glyphicon glyphicon-menu-right"></span>Honours Degree in Bachelor of Engineering</li>
					<li><span class="glyphicon glyphicon-menu-right"></span>Mongo DB M101J for Java Developers Course Certificate</li>		
					<li><span class="glyphicon glyphicon-menu-right"></span>CCNA (Cisco Certified Network Associate) and MCITP (Microsoft Certified Information Technology Professional) Certificate Courses from Seed InfoTech, Pune with First Class Grade</li>
					<li><span class="glyphicon glyphicon-menu-right"></span>2 Months Pre-DAC Course from Sunbeam Institute, Pune with First Class Grade</li>
				</ul>
				<br/>
				<ul>
					<h5><i class="icon ion-android-desktop"></i>&nbsp;Domains</h5>
					<li><span class="icon ion-android-checkbox-outline"></span> Web Application Development</li>
					<li><span class="icon ion-android-checkbox-outline"></span> DevOps</li>
					<li><span class="icon ion-android-checkbox-outline"></span> Web Security</li>
					<li><span class="icon ion-android-checkbox-outline"></span> Microservice</li>	
					<li><span class="icon ion-android-checkbox-outline"></span> Scripting &amp; Automation</li>
					<li><span class="icon ion-android-checkbox-outline"></span> Email Address Internationalization (IDNA)</li>		
					<li><span class="icon ion-android-checkbox-outline"></span> Machine Learning, NLP &amp; Chatbots</li>				
				</ul>
				<br/>
				<ul>
					<h5><i class="icon ion-android-desktop"></i>&nbsp;Technical Skills</h5>
					<li><span class="icon ion-checkmark"> Java SE 7/8</span></li>
					<li><span class="icon ion-checkmark"> Java EE</span></li>
					<li><span class="icon ion-checkmark"></span> Linux (RHEL/CentOS/Ubuntu)</li>
					<li><span class="icon ion-checkmark"></span> Spring Boot</li>
					<li><span class="icon ion-checkmark"></span> DevOps</li>
					<li><span class="icon ion-checkmark"></span> TDD using JUnit5</li>
					<li><span class="icon ion-checkmark"></span> MySQL</li>
					<li><span class="icon ion-checkmark"> Struts 2</span></li>
					<li><span class="icon ion-checkmark"> Python</span></li>
					<li><span class="icon ion-checkmark"> MEAN Stack</span></li>
					<li><span class="icon ion-checkmark"> ReactJS</span></li>
					<li><span class="icon ion-checkmark"> AngularJS</span></li>
					<li><span class="icon ion-checkmark"> Docker</span></li>
					<li><span class="icon ion-checkmark"> Jenkins</span></li>
					<li><span class="icon ion-checkmark"> Ansible 2</span></li>
					<li><span class="icon ion-checkmark"> Kubernetes</span></li>
					<li><span class="icon ion-checkmark"> Maven/Ant</span></li>
					<li><span class="icon ion-checkmark"> Thymeleaf</span></li>
					<li><span class="icon ion-checkmark"> Microservices</span></li>
					<li><span class="icon ion-checkmark"> RESTful Web Services</span></li>
					<li><span class="icon ion-checkmark"> JSON/YAML/XML</span></li>
					<li><span class="icon ion-checkmark"> JavaScript</span></li>
					<li><span class="icon ion-checkmark"> Apache HTTP</span></li>
					<li><span class="icon ion-checkmark"> Tomcat</span></li>
					<li><span class="icon ion-checkmark"> NginX</span></li>
					<li><span class="icon ion-checkmark"> Redis</span></li>
					<li><span class="icon ion-checkmark"> Spring Cloud</span></li>
					<li><span class="icon ion-checkmark"> IDNA/EAI</span></li>
					<li><span class="icon ion-checkmark"> Postfix / Dovecot</span></li>	
					<li><span class="icon ion-checkmark"> CCNA</span></li>
					<li><span class="icon ion-checkmark"> Windows Servers</span></li>
					<li><span class="icon ion-checkmark"> TLS/SSL</span></li>
					<li><span class="icon ion-checkmark"> Groovy</span></li>
					<li><span class="icon ion-checkmark"> Joomla CMS</span></li>
					<li><span class="icon ion-checkmark"> PHP 5.x</span></li>
					<li><span class="icon ion-checkmark"> VMWare Virtualization</span></li>
				</ul>
				<div class="clearfix"> </div>
			</div>
			<div class="clearfix"> </div>
			<div class="col-md-12 about-left">
										
			</div>
			
<!--
<div class="LI-profile-badge"  data-version="v1" data-size="large" data-locale="en_US" data-type="horizontal" data-theme="light" data-vanity="arpit-gupta-3158213a"><a class="LI-simple-link" href='https://in.linkedin.com/in/arpit-gupta-3158213a?trk=profile-badge'>Arpit Gupta</a></div>
-->		</div>
	</div>
		
	<!--//about-->
	<!--work-experience-->	
	<div id="work" class="work" ng-show="isSet(2)">
		<div class="container">
			<h3 class="title"><i class="icon ion-pricetags"></i>&nbsp;Work Experience</h3>
			<div class="work-info"> 
				<div class="col-md-6 work-left"> 
					<h4>March 2013 - Present </h4>
				</div>
				<div class="col-md-6 work-right"> 
					<h5><span class="glyphicon glyphicon-briefcase"> </span> Centre for Development in Advanced Computing</h5>
					<p>C-DAC is a Research &amp; Development scientific society governed by Ministry of Electronics &amp; Information Technology. I have worked in C-DAC for 7 years on various Indian Government Projects as a Full Stack Developer &amp; DevOps Engineer.</p>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="work-info"> 
				<div class="col-md-6 work-right work-right2"> 
					<h4>August 2011 - January 2012 </h4>
				</div>
				<div class="col-md-6 work-left work-left2"> 
					<h5>Accel Frontline Limited<span class="glyphicon glyphicon-briefcase"> </span></h5>
					<p>AFL is a service based company, providing IT support to various privileged clients. I have worked as a Technical Associate Engineer &amp; Professional ITIL Trainer, provides server-level support &amp; have implemented Zoho Desk Support Tool for Ticket Management &amp; Issue Tracker.</p>
				</div>
				<div class="clearfix"> </div>
			</div>
			<!--
			<div class="work-info"> 
				<div class="col-md-6 work-left"> 
					<h4>2012 - 2013 </h4>
				</div>
				<div class="col-md-6 work-right"> 
					<h5><span class="glyphicon glyphicon-briefcase"> </span> Company Name</h5>
					<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo </p>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="work-info"> 
				<div class="col-md-6 work-right work-right2"> 
					<h4>2010 - 2012 </h4>
				</div>
				<div class="col-md-6 work-left work-left2"> 
					<h5> Company Name <span class="glyphicon glyphicon-briefcase"></span> </h5>
					<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo </p>
				</div>
				<div class="clearfix"> </div>
			</div>
			-->
		</div>
	</div>	
	
	<!--//work-experience-->
	<!--education-->	
	<div id="education" class="education" ng-show="isSet(3)">
		<div class="container">
			<h3 class="title"><i class="icon ion-university"></i>&nbsp;Education</h3>
			<div class="work-info"> 
				<div class="col-md-6 work-left"> 
					<h4>PG-DAC - 2012-13</h4>
				</div>
				<div class="col-md-6 work-right"> 
					<h5><span class="glyphicon glyphicon-education"> </span>Advanced Computing Technology School, Pune</h5>
					<p>I have completed Post Graduate Diploma in Advanced Computing from Sunbeam Institute of Information Technology, Pune. I have achieved <strong>70.24%</strong> with A-Grade.</p>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="work-info"> 
				<div class="col-md-6 work-right work-right2"> 
					<h4>Bachelor of Engineering - 2010</h4>
				</div>
				<div class="col-md-6 work-left work-left2"> 
					<h5>Rajiv Gandhi University, Bhopal<span class="glyphicon glyphicon-education"></span></h5>
					<p>I have pursued Bachelor of Engineering in Electronics &amp; Communication from Truba College of Engineering &amp; Technology, Indore. I have achieved <strong>78.2%</strong> with Honours Degree.</p>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="work-info"> 
				<div class="col-md-6 work-left"> 
					<h4>12th Board - 2006</h4>
				</div>
				<div class="col-md-6 work-right"> 
					<h5><span class="glyphicon glyphicon-education"> </span>Central Board of Seconday Education</h5>
					<p>I have completed my Higher Secondary Board exam from Deepak Memorial Academy, Sagar which is a C.B.S.E. affiliated School with <strong>64.6%</strong> First Division.</p>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="work-info"> 
				<div class="col-md-6 work-right work-right2"> 
					<h4>10th Board - 2004</h4>
				</div>
				<div class="col-md-6 work-left work-left2"> 
					<h5>Central Board of Seconday Education<span class="glyphicon glyphicon-education"></span></h5>
					<p>I have completed my Senior Secondary Board exam from Deepak Memorial Academy, Sagar which is a C.B.S.E. affiliated School with <strong>68.4%</strong> First Division.</p>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>	
	
	<!--//education-->
	
	<!--contact -->
	<div class="welcome contact" id="contact" ng-show="isSet(6)">
		
			<h3 class="title"><i class="icon ion-ios-contact"></i>&nbsp;Contact Me</h3>
			
		<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSd9jRfHD7nOb4_MOIo7uMWCJfXbHYWC7wLatzd2HKLn3_tcXw/viewform?embedded=true" width="100%" height="1200" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
	

	</div>
		<!--
		<div class="container">
			<h3 class="title"><i class="icon ion-ios-contact"></i>&nbsp;Contact Us</h3>
			<div class="contact-row">
				<div class="col-md-6 contact-left">
					<iframe src="https://www.google.com/maps/embed/v1/place?q=cdac%20innovation%20park%2Cpune&key=AIzaSyB7rWikuR-AmEapG-U7Z012bnnhMQMNv0w" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
				</div>
				<div class="col-md-6 contact-right">
					<div class="address-left">
						<p>CDAC GIST, Innovation Park,<br>Panchwati Pashan,<br/>Pune (Maharashtra) - INDIA </p>
					</div>
					<div class="address-right">
						<p>Call us :  +91 9424437566</p>
						<p>E-mail : <a href="mailto:imarg_3@zoho.com">imarg_3@zoho.com</a></p>
					</div>
					<div class="clearfix"></div>
					<div class="contact-form">
						<form action="#" method="post">
							<input type="text" name="Name" placeholder="Name" required="">
							<input class="email" name="Email" type="text" placeholder="Email" required="">
							<input class="phone" name="phone" type="text" placeholder="Phone" required="">
							<textarea name="Message" placeholder="Message" required=""></textarea>
							<input type="submit" value="SUBMIT" >
						</form>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>	-->
	<!--//contact -->
	<!--footer-->
	<div class="footer">
		<div class="container">
			<p>© 2020 Arpit Gupta Profile. All rights reserved. Visit Profile on &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="icon ion-social-linkedin"></i>&nbsp;<a href="https://in.linkedin.com/in/arpitram3" target="_blank">Linkedin</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="icon ion-social-twitter"></i>&nbsp;<a href="https://twitter.com/@arpitram3" target="_blank">Twitter</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="icon ion-social-facebook"></i>&nbsp;<a href="http://www.facebook.com/arg3988" target="_blank">Facebook</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="icon ion-social-instagram"></i><a href="https://www.instagram.com/arpitram3/" target="_blank">&nbsp;Instagram</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="icon ion-social-github"></i><a href="https://github.com/imarg3" target="_blank">&nbsp;Github</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="icon ion-help-buoy"></i><a href="https://hub.docker.com/u/admincoder" target="_blank">&nbsp;DockerHub</a>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="icon ion-social-youtube"></i><a href="https://www.youtube.com/channel/UCjnO-WdQxithJ5a6hcKjwpw" target="_blank">&nbsp;Youtube</a></p>
		</div>
	</div>
	<!--//footer-->
	<!--smooth-scrolling-of-move-up-->
	<script type="text/javascript">
		$(document).ready(function() {
		
			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
			};
			
			$().UItoTop({ easingType: 'easeOutQuart' });
			
		});
	</script>
	<!--//smooth-scrolling-of-move-up-->
	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="javascripts/bootstrap.js"></script>
</body>
</html>
