<!DOCTYPE html>
<!--[if IE 9 ]><html class="no-js ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->

<head>

	<!-- Basic Page Needs -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<meta name="description" content="">
	<meta name="author" content="">
	
	<title>Banker-Mitra</title>

	<!-- CSS -->
	<link rel="stylesheet" href="css/grid.css">
	<link rel="stylesheet" href="css/base.css">
	<link rel="stylesheet" href="css/layout.css">
	<link rel="stylesheet" href="css/primary-color/blue.css" id="primary-color">
	<link rel="stylesheet" href="css/secondary-color/orange.css" id="secondary-color">
	<link rel="stylesheet" href="css/extra-color/red.css" id="extra-color">
	<link rel="stylesheet" href="css/custom.css">
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Montserrat:400,700%7CQuattrocento+Sans:400,700,400italic,700italic%7CRoboto+Slab:400%7COpen+Sans:400,700,300,600,400italic">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/ionicons.min.css">
	<link rel="stylesheet" href="css/animate.min.css">
	<link rel="stylesheet" href="css/magnific-popup.css">
	<link rel="stylesheet" href="css/owl.carousel.min.css">
	<link rel="stylesheet" href="css/owl.theme.default.min.css">
	
	
	<!-- Java Script -->
	<script>(function(html){html.className = html.className.replace(/\bno-js\b/,'js')})(document.documentElement);</script>
	
</head>

<body>

<!-- START HEADER -->

<header id="header" class="extended">
	
	<div class="container"> <!-- Container -->
			
		<!-- Logo -->
		<div id="logo">
			<a href="index.html">
				<img src="images/logo.png" alt="logo" class="normal-dpi">
				<img src="images/logo-2x.png" alt="logo" class="high-dpi">
			</a>
		</div>
		
		<!-- Header Navigation -->
		<nav id="navigation">
			
			<!-- Mobile Side Menu -->
			<div id="mobile-nav-toggle">
				<a id="mobile-menu-button" href="#mobile-nav"><i class="fa fa-bars"></i></a>
			</div>
			
			<!-- Header Top Links -->
			<div id="secondary-nav">
			
				
				
			</div>
			
			<!-- Main Menu -->
			<div id="primary-nav">
				
				<ul id="main-menu">
					<li class="menu-item menu-item-has-children"><a href="index.html">Home</a>
					<li class="menu-item menu-item-has-children"><a href="about-us.html">About Us</a>
						
					</li>
					
					<li class="menu-item menu-item-has-children"><a href="how-we-can-help.html">How We Can Help</a>
						
					</li>
					
					<li class="menu-item menu-item-has-children"><a href="team.html">Our Team</a>
						
					</li>
					
					
					
					<li class="menu-item"><a href="#">Registration</a></li>
					
				<li class="menu-item button-item"><a href="#">Download Practical Guide</a></li>
					
				</ul>
			
			</div>
			<!-- end Main Menu -->
			
		</nav>
		
	</div> <!-- end Container -->
	
</header>

<!-- END HEADER -->


<!-- START CONTENT -->

<section id="main">
	
	<!-- Homepage Hero -->
	<div id="home-hero">
		
		<!-- Homepage Slider -->
		<div id="home-slider" class="cycle-slideshow"
			data-cycle-fx="fadeout"
			data-cycle-swipe="true"
			data-cycle-swipe-fx="fadeout"
			data-cycle-speed="1000"
			data-cycle-timeout="6000"
			data-cycle-pause-on-hover="false"
			data-cycle-paused="false"
			data-cycle-starting-slide="0"
			data-cycle-slides="> .slide"
			data-cycle-pager="> .cycle-pager .container"
			data-cycle-log="false"
		>
			
			<div class="slide slide1" data-caption-bg-color="red"> <!-- Possible values: "red", "tomato", "orange-red", "chocolate", "orange", "dark-yellow", "yellow", "olive", "green-yellow", "green", "see-green", "turquoise", "light-blue", "steel-blue", "royal-blue", "blue", "blue-violet", "purple", "deep-pink", "grey" -->
				
				<!-- caption -->
				<div class="container">
					<div class="row">
						<div class="columns">
                        <h1 class="h3-slogan text-white">Retail Credit</h1>
							<p class="lead-text-large text-white">Forget Anxiety, Deal Confidently </p>
							
							<!--<a href="contact.html" class="button button-colored">Let's Get Started</a>-->
						</div>
					</div>
				</div>
				<div class="trapezium-bg"><span></span></div>
				
			</div>
			
			<div class="slide slide2" data-caption-bg-color="orange-red">
				
				<!-- caption -->
				<div class="container">
					<div class="row">
						<div class="columns">
							<h1 class="h3-slogan text-white">Comprehensive Processing, </h1>
							<p class="lead-text-large text-white">Quality  Appraisal !</p>
							<!--<a href="how-we-can-help.html" class="button button-colored"> !</a>-->
						</div>
					</div>
				</div>
				<div class="trapezium-bg"><span></span></div>
				
			</div>
			
			<div class="slide slide3" data-caption-bg-color="turquoise">
				
				<!-- caption -->
				<div class="container">
					<div class="row">
						<div class="columns">
							<h1 class="h3-slogan text-white">Best Practices  </h1>
							<p class="lead-text-large text-white">for Credit Officers at the branches,Branch Managers,Credit Officers in Centralised Processing Centres,Credit Officers in Administrative Offices</p>
							<!--<a href="services.html" class="button button-colored">View Our Services</a>-->
						</div>
					</div>
				</div>
				<div class="trapezium-bg"><span></span></div>
				
			</div>
			
			<div class="slide slide4" data-caption-bg-color="chocolate">
				
				<!-- caption -->
				<div class="container">
					<div class="row">
						<div class="columns">
							<h1 class="h3-slogan text-white">Practical Guidelines </h1>
							<p class="lead-text-large text-white">of home loan , vehicle  loan, agriculture loan, educational loan, top-up loan,Mortgage Loan, Personal loan , Salary loan,Loan against NSC, KVP,IVP,RBI Bonds, LIC Policy</p>
							<!--<a class="button button-colored play-icon mfp-lightbox mfp-iframe" href="https://www.youtube.com/watch?v=P8Rid73Cc6o" title="Wealth Strategies">Play Video</a>-->
						</div>
					</div>
				</div>
				<div class="trapezium-bg"><span></span></div>
				
			</div>
			
			<!-- pager links -->
			<div class="cycle-pager">
				<div class="container"></div>
			</div>
			
		</div>
		<!-- end Homepage Slider -->
		
	</div>
	<!-- end Homepage Hero -->
	
	<!-- Page Content -->
	<div id="page-content" class="fullwidth-layout">
		
		<!-- Stripe section -->
		<div class="stripe stripe-transparent-bg">
			<div class="stripe-upper-bg"></div>
			
			<div class="container"> <!-- Container -->
				
				<div class="row">
					
					<div class="col-sm-12 columns">
					
						<p class="lead-text-light width-60pct-centered text-center">To <strong>share our experience and knowledge with the younger generation</strong> of bankers so as to sharpen their  skills for rendering banking services confidently, efficiently and  effectively.</p>
						
						<div class="gap margin-bottom-40px"></div>
						
						<!-- Picture Boxes: overlaid title - 3 columns -->
						<div class="picture-boxes overlaid-title small-col-space">
							
							<div class="row">
							
								<div class="col-sm-4 columns">
									<article>
										<div class="box-image">
											<a href="history.html"><img src="images/picture1-540x324.jpg" alt="experience"></a>
										</div>
										<div class="box-text">
											<a href="#">PRACTICAL GUIDE</a>
										</div>
									</article>
								</div>

								<div class="col-sm-4 columns">
									<article>
										<div class="box-image">
											<a href="our-difference.html"><img src="images/picture2-540x324.jpg" alt="our difference"></a>
										</div>
										<div class="box-text">
											<a href="#">Retail lending</a>
										</div>
									</article>
								</div>
								
								<div class="col-sm-4 columns">
									<article>
										<div class="box-image">
											<a href="client-stories.html"><img src="images/picture3-540x324.jpg" alt="client stories"></a>
										</div>
										<div class="box-text">
											<a href="#">Efficient Checklists</a>
										</div>
									</article>
								</div>
							
							</div>
							
						</div>
						<!-- end Picture Boxes -->
						
						<div class="gap margin-bottom-10px"></div>
						
					</div>
					
				</div>
			
			</div> <!-- end Container -->
			
		</div>
		<!-- end Stripe section -->
		
		<!-- Stripe section -->
		<div class="stripe stripe-light-grey-bg stripe-wordgram-bg-top">
			<div class="stripe-upper-bg"></div>
			
			<div class="container"> <!-- Container -->
				
				<div class="row">
					
					<div class="col-sm-12 columns">
						
						<h2 class="text-center text-body-color margin-bottom-5px">WHY THIS " PRACTICAL GUIDE" ?</h2>
						<p class="lead-text-light text-center margin-bottom-50px">A few stories to learn how we have helped others to know more about banking guidelines</p>
						
						<!-- Carousel with Icon Boxes (top icon - large size) -->
						<div class="icon-boxes left-icon-box icon-medium owl-carousel owl-theme"
							data-items="2"
							data-loop="true"
							data-nav="false"
							data-dots="true"
							data-autoplay="true"
							data-autoplay-timeout="10000"
							data-autoplay-hover-pause="false"
						>
							
							<div class="carousel-item">
								<article class="clearfix">
									<div class="box-icon secondary-color">
										<a href="single-case-study-1.html"><i class="ion ion-fw ion-university"></i></a>
									</div>
									<div class="box-text">
										<h5 class="title text-black"><a href="single-case-study-1.html">Home Loan - Construction</a></h5>
										<p><em>Best practices for Home Loan - Construction</em></p>
									</div>
								</article>
							</div>
							
							<div class="carousel-item">
								<article class="clearfix">
									<div class="box-icon secondary-color">
										<a href="single-case-study-5.html"><i class="ion ion-fw ion-calculator"></i></a>
									</div>
									<div class="box-text">
										<h5 class="title text-black"><a href="single-case-study-5.html">Home Loan - Purchase of Ready House</a></h5>
										<p><em>Best practices for Home Loan - Purchase of Ready House</em></p>
									</div>
								</article>
							</div>
							
							<div class="carousel-item">
								<article class="clearfix">
									<div class="box-icon secondary-color">
										<a href="single-case-study-3.html"><i class="ion ion-fw ion-stats-bars"></i></a>
									</div>
									<div class="box-text">
										<h5 class="title text-black"><a href="single-case-study-3.html">Home Loan </a></h5>
										<p><em>Repairs & Renovation </em></p>
									</div>
								</article>
							</div>
							
							<div class="carousel-item">
								<article class="clearfix">
									<div class="box-icon secondary-color">
										<a href="single-case-study-4.html"><i class="ion ion-fw ion-paper-airplane"></i></a>
									</div>
									<div class="box-text">
										<h5 class="title text-black"><a href="single-case-study-4.html">Home Loan</a></h5>
										<p><em>Top Up</em></p>
									</div>
								</article>
							</div>
							
							<div class="carousel-item">
								<article class="clearfix">
									<div class="box-icon secondary-color">
										<a href="single-case-study-6.html"><i class="ion ion-fw ion-umbrella"></i></a>
									</div>
									<div class="box-text">
										<h5 class="title text-black"><a href="single-case-study-6.html">Home Loan</a></h5>
										<p><em>Purchase of Plot,  </em></p>
									</div>
								</article>
							</div>
							
							<div class="carousel-item">
								<article class="clearfix">
									<div class="box-icon secondary-color">
										<a href="single-case-study-2.html"><i class="ion ion-fw ion-person-stalker"></i></a>
									</div>
									<div class="box-text">
										<h5 class="title text-black"><a href="single-case-study-2.html">Loan</a></h5>
										<p><em>Educational , Reverse Mortgage</em></p>
									</div>
								</article>
							</div>
							
							<div class="carousel-item">
								<article class="clearfix">
									<div class="box-icon secondary-color">
										<a href="single-case-study-9.html"><i class="ion ion-fw ion-medkit"></i></a>
									</div>
									<div class="box-text">
										<h5 class="title text-black"><a href="single-case-study-9.html">Loan </a></h5>
										<p><em>gainst Rent Receivable</em></p>
									</div>
								</article>
							</div>
							
						</div>
						<!-- end Carousel -->
						
					</div>
					
				</div>
			
			</div> <!-- end Container -->
			
		</div>
		<!-- end Stripe section -->
		
		<!-- Stripe section -->
		<div class="stripe stripe-custom-bg-image stripe-custom-bg-image1 stripe-bg-size-cover stripe-upper-bg-transparent diagonal-lines-bg v-notch dark-colored-bg">
			<div class="stripe-upper-bg"></div>
			
			<div class="container"> <!-- Container -->
				
				<div class="row">
					
					<div class="col-sm-12 columns">
						
						<h2 class="text-center text-white margin-bottom-50px">Who to use this<span class="text-secondary-color"> "Practical Guide"?</span>  </h2>
						
						<!-- Picture Boxes: round image - 4 columns -->
						<div class="picture-boxes round-image centered-content small-col-space">
							
							<div class="row">
								
								<!--
								col-sm-6: for short description in .box-text - 4 columns >> 2 columns
								col-sm-12: for long description in .box-text - 4 columns >> 1 column
								-->
								<div class="col-sm-12 col-md-3 columns">
									<article>
										<div class="box-image">
											<a href="single-service-1.html"><img src="images/member7-360x360.jpg" alt="financial advice"></a>
										</div>
										<div class="box-text">
											<h5 class="title"><a href="single-service-1.html">Credit Officers at the branches</a></h5>
											<p>Comprehensive and objective advice for all your financial questions</p>
										</div>
									</article>
								</div>
								
								<div class="col-sm-12 col-md-3 columns">
									<article>
										<div class="box-image">
											<a href="single-service-6.html"><img src="images/picture6-260x260.jpg" alt="investment planning"></a>
										</div>
										<div class="box-text">
											<h5 class="title"><a href="single-service-6.html">Branch Managers</a></h5>
											<p>This gudielines helps for Branch Managers of any bank</p>
										</div>
									</article>
								</div>
								
								<div class="col-sm-12 col-md-3 columns">
									<article>
										<div class="box-image">
											<a href="single-service-7.html"><img src="images/picture13-260x260.jpg" alt="business advice"></a>
										</div>
										<div class="box-text">
											<h5 class="title"><a href="single-service-7.html">Credit Officers</a></h5>
											<p>This gudielines helps for  Credit Officers in Centralised Processing Centres</p>
										</div>
									</article>
								</div>
								
								<div class="col-sm-12 col-md-3 columns">
									<article>
										<div class="box-image">
											<a href="single-service-4.html"><img src="images/picture4-260x260.jpg" alt="retirement planning"></a>
										</div>
										<div class="box-text">
											<h5 class="title"><a href="single-service-4.html">Administrative Offices</a></h5>
											<p>This gudielines helps for Credit Officers in Administrative Offices</p>
										</div>
									</article>
								</div>
								
							</div>
						
						</div>
						<!-- end Picture Boxes -->
						
						<div class="gap margin-bottom-50px"></div>
						
						<p class="text-center"><a class="button button-medium button-colored text-uppercase" href="how-we-can-help.html">Click here to know more</a></p>
						
					</div>
					
				</div>
				
			</div> <!-- end Container -->
			
		</div>
		<!-- end Stripe section -->
		
		<!-- Stripe section -->
		
		<!-- end Stripe section -->
		
		<!-- Stripe section -->
		<div class="stripe stripe-light-grey-bg stripe-wordgram-bg-top v-notch">
			<div class="stripe-upper-bg"></div>
			
			<div class="container"> <!-- Container -->
				
				<div class="row">
					
					<div class="col-sm-12 columns">
						
						<h2 class="text-center text-body-color margin-bottom-5px">How to Get this?</h2>
						<p class="lead-text-light text-center margin-bottom-40px">Just follow few steps to download thsi book </p>
						
						<!-- Icon Boxes: top icon (medium size with numbers, round background) - 3 columns -->
						<div class="icon-boxes top-icon-box icon-medium-round-bg number-icon-box medium-col-space">
							
							<div class="row">
							
								<div class="col-sm-4 columns">
									<article class="clearfix">
										<div class="box-icon secondary-color-bg">
											<i class="ion ion-fw ion-share"></i>
											<span class="digit">1</span>
										</div>
										<div class="box-text">
											<h5 class="title">Register</h5>
											<p>start with registration</p>
										</div>
									</article>
								</div>
								
								<div class="col-sm-4 columns">
									<article class="clearfix">
										<div class="box-icon secondary-color-bg">
											<i class="ion ion-fw ion-android-cart"></i>
											<span class="digit">2</span>
										</div>
										<div class="box-text">
											<h5 class="title">Pay</h5>
											<p>make payment by using paytm or online money tranfer</p>
										</div>
									</article>
								</div>
								
								<div class="col-sm-4 columns">
									<article class="clearfix">
										<div class="box-icon secondary-color-bg">
											<i class="ion ion-fw  ion-ios-download"></i>
											<span class="digit">3</span>
										</div>
										<div class="box-text">
											<h5 class="title">download</h5>
											<p>Download Practical guidelines ebook once payment get confirmed</p>
										</div>
									</article>
								</div>
								
							</div>
						
						</div>
						<!-- end Icon Boxes -->
						
					</div>
					
				</div>
				
			</div> <!-- end Container -->
			
		</div>
		<!-- end Stripe section -->
		
		<!-- STRIPE BOTTOM SECTION -->
		<div class="stripe stripe-bottom stripe-dark-colored-pattern-bg dark-colored-bg">
			<div class="stripe-upper-bg"></div>
			
			<div class="container"> <!-- Container -->
				
				<div class="row">
					
					<div class="col-sm-12 columns">
						
						<!-- Testimonials -->
						<div class="testimonial-main-style-1">
							
							<!-- Testimonial Slider -->
							<div class="testimonial-slider cycle-slideshow"
								data-cycle-fx="fade"
								data-cycle-swipe="true"
								data-cycle-swipe-fx="fade"
								data-cycle-speed="500"
								data-cycle-timeout="8000"
								data-cycle-pause-on-hover="true"
								data-cycle-paused="false"
								data-cycle-slides="> .testimonial-item"
								data-cycle-pager="> .cycle-pager .paging-control"
								data-cycle-prev="> .cycle-pager .cycle-prev"
								data-cycle-next="> .cycle-pager .cycle-next"
								data-cycle-auto-height="calc"
								data-cycle-log="false"
							>
								
								<div class="testimonial-item">
									<div class="testimonial-title">
										<h4>Retail Credit <span>Forget Anxiety</span></h4>
									</div>
									<div class="testimonial-text">
										<p>A banker is a fellow who lends his umbrella when the sun is shining and wants it back the minute it begins to rain.</p>
									</div>
									<div class="testimonial-author">
										<div class="author-info"><strong>Mark Twain</strong><span><a href="#" target="_blank"></a> </span></div>
									</div>
								</div>
								
								<div class="testimonial-item">
									<div class="testimonial-title">
										<h4>Guidance <span>towards</span> Retail lending </h4>
									</div>
									<div class="testimonial-text">
										<p>It is not the style of clothes one wears, neither the kind of automobile one drives, nor the amount of money one has in the bank, that counts. These mean nothing. It is simply service that measures success.
</p>
									</div>
									<div class="testimonial-author">
										<div class="author-info"><strong>George Washington Carver</strong></div>
									</div>
								</div>
								
								<div class="testimonial-item">
									<div class="testimonial-title">
										<h4>First Class <span>Financial Advice</span></h4>
									</div>
									<div class="testimonial-text">
										<p>Annuity Strategic advisors have a formidable background in financial planning. They complement each other in providing first class financial advice. Their honesty, integrity & sincere interest in securing a financial future for their clients makes them a standout group.</p>
									</div>
									<div class="testimonial-author">
										<div class="author-info"><strong>Peter Wilson</strong><br><span>IT Professional & Business Owner</span></div>
									</div>
								</div>
								
								
								
								<!-- pager & prev/next links -->
								<div class="cycle-pager">
									<div class="cycle-prev"><i class="fa fa-chevron-left"></i></div>
									<div class="paging-control clearfix"></div>
									<div class="cycle-next"><i class="fa fa-chevron-right"></i></div>
								</div>
								
							</div>
							<!-- end Testimonial Slider -->
							
						</div>
						<!-- end Testimonials -->
						
					</div>
					
				</div>
				
			</div> <!-- end Container -->
			
		</div>
		<!-- end STRIPE BOTTOM SECTION -->
		
	</div>
	<!-- end Page Content -->
	
</section>

<!-- END CONTENT -->


<!-- START FOOTER -->
<footer id="footer" class="footer-style-2">
	
	<div class="container"> <!-- Container -->
		
		<div class="row">
			
			<div class="col-sm-12 ">
				
				<div class="offset-md-right-40px clearfix" style="text-align:left !important">
					
					<!-- Contact Details -->
					<h4 class="title">Get in touch</h4>
					
					<p>D.D.Deshpande  Mobile +919822290054           email : d2desh@gmail.com</p>
					<p>Satish J Misar       Mobile +918805025465           email :  sjmisar@gmail.com</p>
					<p>Dr. V S Kaveri       Mobile +919890263609           email :  vskaveri@gmail.com</p>
					<p>Pradip  Mopkar   Mobile +919825011799           email :  pdmopkar@gmail.com</p>
					<p class="contact-address">&nbsp;</p>
					
					
					
				</div>
				
			</div>
			
			
			
			
		
		</div>
		
	</div> <!-- end Container -->

</footer>


<footer id="footer-bottom">
	
	<div class="container"> <!-- Container -->
		
		<div class="row">
		
			<div class="columns bottom-left-col">
				<p>© 2018 Bankermitra.in</p>
			</div>
			
			<div class="columns bottom-right-col">
				<ul class="links">
					<li><a href="#">Privacy Policy</a><span>|</span></li>
					
				</ul>
			</div>
			
			<span class="scroll-top"><i class="ion ion-android-arrow-up"></i></span>
		
		</div>
		
	</div> <!-- end Container -->
	
</footer>

<!-- END FOOTER -->


<!-- Java Script -->
<script src="js/html5media.min.js"></script>
<script src="js/jquery.min.js"></script>
<script src="js/jquery.easing.min.js"></script>
<script src="js/jquery.cycle2.min.js"></script>
<script src="js/jquery.cycle2.swipe.min.js"></script>
<script src="js/jquery.fitvids.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/owl.carousel.min.js"></script>

<script src="js/custom.js"></script>


</body>

</html>
