<!--
Author: Arpit Gupta
Author URL: www.arpitram.com, www.arpitram.in
License: 
License URL: 
-->
<!DOCTYPE html>
<!-- The ng-app directive tells angular that the code below should be evaluated -->
<html ng-app="ProfileApp">
<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-119273668-1"></script>
<script data-ad-client="ca-pub-1781382531168042" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-119273668-1');
</script>
<title>Arpit Gupta</title>
	<!-- CDN based url to call Angular JS Script -->
    <!-- <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script> -->
    <script src = "angular/google-angular.js"></script>
<!--<script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
-->
<!--mobile apps-->
<meta name="google-site-verification" content="gkx9RJEYEv6r7QgTkP-e88-aTPzB44vp0ZwQTwYRFKo" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="About Arpit Gupta" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--mobile apps-->
<!--Custom Theme files-->
<link href="images/favicon.ico" rel="Shortcut Icon" />
<script src="javascripts/jquery.min.js"></script>
<link href="stylesheets/bootstrap_html.css" type="text/css" rel="stylesheet" media="all">
<script src="javascripts/bootstrap.min.js"></script>
<link href="stylesheets/style_contact.css" type="text/css" rel="stylesheet" media="all">
<link rel="stylesheet" href="stylesheets/swipebox.css">
<link href="stylesheets/ionicons.css" rel="stylesheet">
<link href="stylesheets/ionicons.min.css" rel="stylesheet">
<!--//Custom Theme files-->
<script src="angular/main.js"></script>
<!-- //js -->
<!--web-fonts-->
<link href='//fonts.googleapis.com/css?family=Overlock:400,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>
<!--//web-fonts-->
<!--start-smooth-scrolling-->
<script type="text/javascript" src="javascripts/move-top.js"></script>
<script type="text/javascript" src="javascripts/easing.js"></script>	
<script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){		
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
			});
		});
</script>
<!--//end-smooth-scrolling-->
<style>
  .bootstrap-demo{margin:30px;}
</style>
</head>
<body ng-controller="TabsController">
  <div class="bootstrap-demo">
    <div class="top-nav wow">
		<div class="container">
			<div class="navbar-header logo">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<i class="icon ion-android-menu"></i>&nbsp;Menu
				</button>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" ng-controller="menuController as menus">
				<div class="menu">
					<ul class="nav navbar">
                        <li ng-class="{ active: isSet(0) }"><a href="/profile"><i class="icon ion-ios-home"></i>&nbsp;&nbsp;{{ menus.menu.tab0 }}</a></li>                        
						<li ng-class="{ active: isSet(5) }"><a href="/accolades"><i class="icon ion-social-buffer"></i>&nbsp;&nbsp;{{ menus.menu.tab5 }}</a></li>
						<li ng-class="{ active: isSet(7) }"><a href="https://arpitram.tumblr.com/" target="_blank"><i class="icon ion-ios-book"></i>&nbsp;&nbsp;{{ menus.menu.tab7 }}</a></li>
					</ul>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
	</div>				
           
    <!--skills-->
	<div id="skills" class="skills">
		<div class="container">
			<h3 class="title"><i class="icon ion-android-desktop"></i>&nbsp;Domains</h3>
			<div class="skills-info">
				<div class="col-md-6 bar-grids">
					<h6><i class="icon ion-android-checkbox-outline"></i>&nbsp;&nbsp;WEB APPLICATION DEVELOPMENT</h6><br/>
					<h6><i class="icon ion-android-checkbox-outline"></i>&nbsp;&nbsp;DEVOPS</h6><br/>
					<h6><i class="icon ion-android-checkbox-outline"></i>&nbsp;&nbsp;WEB SECURITY</h6><br/>
					<h6><i class="icon ion-android-checkbox-outline"></i>&nbsp;&nbsp;MICRO SERVICES</h6><br/>	
				</div>
				<div class="col-md-6 bar-grids">					
					<h6><i class="icon ion-android-checkbox-outline"></i>&nbsp;&nbsp;SCRIPTING &amp; AUTOMATION</h6><br/>
					<h6><i class="icon ion-android-checkbox-outline"></i>&nbsp;&nbsp;EMAIL ADDRESS INTERNATIONALIZATION (IDNA)</h6><br/>
					<h6><i class="icon ion-android-checkbox-outline"></i>&nbsp;&nbsp;MACHINE LEARNING, NLP &amp; CHATBOTS</h6><br/>
				</div>
			</div>
		</div>
		<br/>
		<div class="container">
			<h3 class="title"><i class="icon ion-ribbon-b"></i>&nbsp;Skills</h3>
			<div class="skills-info">
				<div class="col-md-6 bar-grids">
					<h6>CORE JAVA &amp; JAX-RS (RESTful WEB SERVICES)<span> 75% </span></h6>
					<div class="progress">
						<div class="progress-bar progress-bar-striped active" style="width: 75%">
						</div>
					</div>
					<h6>J2EE FRAMEWORKS (SPRING MVC, BOOT, STRUTS2)<span> 75% </span></h6>
					<div class="progress">
						<div class="progress-bar progress-bar-striped active" style="width: 75%">
						</div>
					</div>
					<h6>PYTHON SCRIPTING, RASA NLU FRAMEWORK<span> 70% </span></h6>
					<div class="progress">
						<div class="progress-bar progress-bar-striped active" style="width: 70%">
						</div>
					</div>
					<h6>LINUX ADMINISTRATION &amp; SHELL SCRIPTING<span>75% </span></h6>
					<div class="progress">
						<div class="progress-bar progress-bar-striped active" style="width: 75%">
						</div>
					</div>
					<h6>DOCKER, ANSIBLE2, JENKINS, AUTOMATION, CI/CD<span> 65% </span></h6>
					<div class="progress">
						<div class="progress-bar progress-bar-striped active" style="width: 65%">
						</div>
					</div>
					<h6>CLIENT-SIDE TECHNOLOGIES (HTML, ANGULAR, REACT, CSS, EJS)<span> 70% </span></h6>
					<div class="progress">
						<div class="progress-bar progress-bar-striped active" style="width: 70%">
						</div>
					</div>
					<h6>SERVER-SIDE TECHNOLOGIES (NODE JS, EXPRESS JS, PHP)<span> 70% </span></h6>
					<div class="progress">
						<div class="progress-bar progress-bar-striped active" style="width: 70%">
						</div>
					</div>					
				</div>
				<div class="col-md-6 bar-grids">
					<h6>WEB SERVERS (APACHE, NGINX, TOMCAT)<span>75% </span></h6>
					<div class="progress">
						<div class="progress-bar progress-bar-striped active" style="width: 75%">
						</div>
					</div>
					<h6>DATABASES - MYSQL, MONGODB<span> 70% </span></h6>
					<div class="progress">
						<div class="progress-bar progress-bar-striped active" style="width: 70%">
						</div>
					</div>
					<h6>DATA FORMATS (JSON, XML, YAML)<span> 70% </span></h6>
					<div class="progress">
						<div class="progress-bar progress-bar-striped active" style="width: 70%">
						</div>
					</div>
					<h6>EMAIL SERVERS (POSTFIX, DOVECOT, MAILSCANNER)<span> 70% </span></h6>
					<div class="progress">
						<div class="progress-bar progress-bar-striped active" style="width: 70%">
						</div>
					</div>											
					<h6>APPLICATION INTEGRATION (PROACTIVE &amp; REACTIVE)<span> 70% </span></h6>
					<div class="progress">
						<div class="progress-bar progress-bar-striped active" style="width: 70%">
						</div>
					</div>
					<h6>SECURITY - TLS/SSL, PGP ENCRYPTION, PKI CRYPTOGRAPHY<span> 70% </span></h6>
					<div class="progress">
						<div class="progress-bar progress-bar-striped active" style="width: 70%">
						</div>
					</div>								
					<h6>VMWARE VIRTUALIZATION, NETWORKING, BIND DNS &amp; CLOUD<span> 65% </span></h6>
					<div class="progress">
						<div class="progress-bar progress-bar-striped active" style="width: 65%">
						</div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>	
	
	<!--//education-->
	<!--portfolio-->	
	<div id="projects" class="portfolio">
		<div class="container">
			<h3 class="title wow zoomInLeft animated" data-wow-delay=".5s"><i class="icon ion-social-buffer"></i>&nbsp;Projects</h3>
			<div class="sap_tabs">			
				<div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">
					<ul class="resp-tabs-list wow fadeInUp animated" data-wow-delay=".7s">
						<li class="resp-tab-item"><span>All</span></li>
						<li class="resp-tab-item"><span>JAVA PROJECTS</span></li>
						<li class="resp-tab-item"><span>NODEJS PROJECTS</span></li>
						<li class="resp-tab-item"><span>PHP PROJECTS</span></li>
						<li class="resp-tab-item"><span>PYTHON PROJECTS</span></li>					
					</ul>	
									
					<div class="resp-tabs-container">
						<div class="tab-1 resp-tab-content">
							<div class="tab_img">
								<div class="col-md-4 portfolio-grids">
									<div class="grid">
										<a href="https://meitystartuphub.in" target="_blank" title="MeitY Startup Hub Platform for Startups, Incubators, Mentors, Venture Capitalists">
											<img src="images/g6.jpg" alt="" class="img-responsive" />
											<div class="figcaption">
												<h3>MEITY STARTUP HUB</h3>
												<p>MeitY Startup Hub Platform for Startups, Incubators, Mentors, Venture Capitalists</p>
											</div>
										</a>	
                                    </div>                                    
								</div>
								<div class="col-md-4 portfolio-grids">
									<div class="grid effect-sarah">
										<a href="http://www.ict-ipr.in" target="_blank" title="Free online services related to Intellectual Property Rights">
										<img src="images/g1.jpg" alt="IPR" class="img-responsive" />
											<div class="figcaption">
												<h3>ICT-IPR</h3>
												<p>Free online services related to Intellectual Property Rights</p>
											</div>
										</a>	
									</div>
								</div>
								<div class="col-md-4 portfolio-grids">
									<div class="grid effect-sarah">
										<a href="http://www.ict-ipr.in/sipeit/" target="_blank" title="Support for International Patent Protection in Electronics &amp; Information Technology">
										<img src="images/g2.jpg" alt="" class="img-responsive" />
											<div class="figcaption">
												<h3>SIP-EIT</span></h3>
												<p>Schemes to provide financial support to Start-ups and MSMEs</p>
											</div>
										</a>	
									</div>
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="tab_img">								
								<div class="col-md-4 portfolio-grids">
									<div class="grid effect-sarah">
										<a href="https://play.google.com/store/apps/details?id=in.cdac.gist.android.ipr" target="_blank" title="PAMS Android Mobile App web services for providing free services to IPR users">
											<img src="images/g3.jpg" alt="" class="img-responsive" />
											<div class="figcaption">
												<h3>PAMS Services</h3>
												<p>Android App for providing free services to IPR users</p>
											</div>
										</a>	
									</div>
								</div>										
								<div class="col-md-4 portfolio-grids">
									<div class="grid effect-sarah">
										<a href="http://www.indoeuropeanip.com" target="_blank" title="IPR related project for providing services to IPR users from both countries.">
											<img src="images/g4.jpg" alt="" class="img-responsive" />
											<div class="figcaption">
												<h3>IN-EU IPR Platform</h3>
												<p>Platform to provide IPR services to users from India &amp; Europe</p>
											</div>
										</a>	
									</div>
								</div>
								<div class="col-md-4 portfolio-grids">
									<div class="grid effect-sarah">
										<a href="https://gistmail.in" target="_blank" title="Email Address Internationalization enables users to create their own email id in any language.">
											<img src="images/g5.jpg" alt="" class="img-responsive" />
											<div class="figcaption">
												<h3>IDN-EAI SOLUTION</h3>
												<p>Solution to provide Multilingual Email IDs to users</p>
											</div>
										</a>	
									</div>
								</div>									
							</div>
						</div>
						<div class="tab-1 resp-tab-content">
							<div class="tab_img">
								<div class="col-md-4 portfolio-grids">
									<div class="grid effect-sarah">
										<a href="https://meitystartuphub.in" target="_blank" title="MeitY Startup Hub Platform for Startups, Incubators, Mentors, Venture Capitalists">
											<img src="images/g6.jpg" alt="" class="img-responsive" />
											<div class="figcaption">
												<h3>MEITY STARTUP HUB</h3>
												<p>MeitY Startup Hub Platform for Startups, Incubators, Mentors, Venture Capitalists</p>
											</div>
										</a>	
									</div>
								</div>
								<div class="col-md-4 portfolio-grids">
									<div class="grid">
										<a href="http://www.ict-ipr.in/" target="_blank" title="Free online services related to Intellectual Property Rights">
										<img src="images/g1.jpg" alt="" class="img-responsive" />
											<div class="figcaption">
												<h3>ICT-IPR</h3>
												<p>Free online services related to Intellectual Property Rights</p>
											</div>
										</a>	
									</div>
								</div>
								<div class="col-md-4 portfolio-grids">
									<div class="grid effect-sarah">
										<a href="http://www.ict-ipr.in/sipeit/" target="_blank" title="Support for International Patent Protection in Electronics &amp; Information Technology">
										<img src="images/g2.jpg" alt="" class="img-responsive" />
											<div class="figcaption">
												<h3>SIP-EIT</h3>
												<p>Schemes to provide financial support to Start-ups and MSMEs</p>
											</div>
										</a>	
									</div>
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="tab_img">						
								<div class="col-md-4 portfolio-grids">
									<div class="grid">
										<a href="https://play.google.com/store/apps/details?id=in.cdac.gist.android.ipr" target="_blank" title="PAMS Android Mobile App web services for providing free services to IPR users">
											<img src="images/g3.jpg" alt="" class="img-responsive" />
											<div class="figcaption">
												<h3>PAMS Services</h3>
												<p>Android App for providing free services to IPR users</p>
											</div>
										</a>	
									</div>
								</div>								
								<div class="col-md-4 portfolio-grids">
									<div class="grid effect-sarah">
										<a href="http://www.indoeuropeanip.com" target="_blank" title="IPR related project for providing services to IPR users from both countries.">
											<img src="images/g4.jpg" alt="" class="img-responsive" />
											<div class="figcaption">
												<h3>IN-EU IPR Platform</h3>
												<p>Platform to provide IPR services to users from India &amp; Europe</p>
											</div>
										</a>	
									</div>
								</div>																											
								<div class="clearfix"> </div>
							</div>
						</div>
						<div class="tab-1 resp-tab-content">
							<div class="tab_img">
								<div class="col-md-4 portfolio-grids">
									<div class="grid effect-sarah">
										<a href="http://www.indoeuropeanip.com/helpdesk/" target="_blank" title="IPR related project for providing services to IPR users from both countries.">
											<img src="images/g4.jpg" alt="" class="img-responsive" />
											<div class="figcaption">
												<h3>Helpdesk Support System</h3>
												<p>Support System for IPR Users</p>
											</div>
										</a>	
									</div>
								</div>
																
								<div class="clearfix"> </div>
							</div>
						</div>
						<div class="tab-1 resp-tab-content">
							<div class="tab_img">
								<div class="col-md-4 portfolio-grids">
									<div class="grid">
										<a href="http://www.ict-ipr.in/" target="_blank" title="Free online services related to Intellectual Property Rights">
										<img src="images/g1.jpg" alt="" class="img-responsive" />
											<div class="figcaption">
												<h3>ICT-IPR</h3>
												<p>Free online services related to Intellectual Property Rights</p>
											</div>
										</a>	
									</div>
								</div>
								<div class="col-md-4 portfolio-grids">
									<div class="grid effect-sarah">
										<a href="http://www.indoeuropeanip.com/helpdesk/" target="_blank" title="IPR related project for providing services to IPR users from both countries.">
											<img src="images/g4.jpg" alt="" class="img-responsive" />
											<div class="figcaption">
												<h3>Helpdesk Support System</h3>
												<p>Support System for IPR Users</p>
											</div>
										</a>	
									</div>
								</div>

								<div class="clearfix"> </div>
							</div>
						</div>
						<div class="tab-1 resp-tab-content">
							<div class="tab_img">								
								<div class="col-md-4 portfolio-grids">
									<div class="grid effect-sarah">
										<a href="http://www.indoeuropeanip.com/helpdesk/" target="_blank" title="IPR related project for providing services to IPR users from both countries.">
											<img src="images/g4.jpg" alt="" class="img-responsive" />
											<div class="figcaption">
												<h3>IPR Chatbot System</h3>
												<p>Machine Learning driven FAQs related with IPR</p>
											</div>
										</a>	
									</div>
								</div>
								<div class="col-md-4 portfolio-grids">
									<div class="grid effect-sarah">
										<a href="https://webmail.cdacgist.in" target="_blank" title="Email Address Internationalization enables users to create their own email id in any language.">
											<img src="images/g5.jpg" alt="" class="img-responsive" />
											<div class="figcaption">
												<h3>IDN-EAI SOLUTION</h3>
												<p>Solution to provide Multilingual Email IDs to users</p>
											</div>
										</a>	
									</div>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>						
					</div>
				</div>
			</div>			
			
			<!--ResponsiveTabs-->
			<script src="javascripts/easyResponsiveTabs.js" type="text/javascript"></script>
			<script type="text/javascript">
				$(document).ready(function () {
					$('#horizontalTab').easyResponsiveTabs({
						type: 'default', //Types: default, vertical, accordion           
						width: 'auto', //auto or any width like 600px
						fit: true   // 100% fit in a container
					});
				});		
			</script>
			<!--//ResponsiveTabs-->
			<!-- swipe box js -->
			<script src="javascripts/jquery.swipebox.min.js"></script> 
				<script type="text/javascript">
					jQuery(function($) {
						$(".swipebox").swipebox();
					});
			</script>
			<!-- //swipe box js -->
		</div>
	</div>
	<!--//portfolio-->
</div>
<div class="footer">
    <div class="container">
        <p>© 2020 Arpit Gupta Profile. All rights reserved. Visit Profile on &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="icon ion-social-linkedin"></i>&nbsp;<a href="https://in.linkedin.com/in/arpitram3" target="_blank">Linkedin</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="icon ion-social-twitter"></i>&nbsp;<a href="https://twitter.com/@arpitram3" target="_blank">Twitter</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="icon ion-social-facebook"></i>&nbsp;<a href="http://www.facebook.com/arg3988" target="_blank">Facebook</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="icon ion-social-instagram"></i><a href="https://www.instagram.com/arpitram3/" target="_blank">&nbsp;Instagram</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="icon ion-social-github"></i><a href="https://github.com/imarg3" target="_blank">&nbsp;Github</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="icon ion-help-buoy"></i><a href="https://hub.docker.com/u/admincoder" target="_blank">&nbsp;DockerHub</a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="icon ion-social-youtube"></i><a href="https://www.youtube.com/channel/UCjnO-WdQxithJ5a6hcKjwpw" target="_blank">&nbsp;Youtube</a></p>
    </div>
</div>
<!--//footer-->
<!--smooth-scrolling-of-move-up-->
<script type="text/javascript">
    $(document).ready(function() {
    
        var defaults = {
            containerID: 'toTop', // fading element id
            containerHoverID: 'toTopHover', // fading element hover id
            scrollSpeed: 1200,
            easingType: 'linear' 
        };
        
        $().UItoTop({ easingType: 'easeOutQuart' });
        
    });
</script>
<!--//smooth-scrolling-of-move-up-->
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="javascripts/bootstrap.js"></script>
</body>
</html>
