<!doctype html>
<html>
<head>
	<!-- EJS Layout -->
	<% include ../partials/head %>
</head>

<body>
	
		<% include ../partials/header %>
		
                		
	 			<h2>Dashboard</h2>
			

			<p>Using this site, users are able to explore more about Computer Technologies. This site targets beginners &amp; professionals.</p>	
            
            <p>This Site has code/scripts for:</p>

            <ul class="styledlist">
                <li>Java</li>
                <li>Batch Scripts</li>
                <li>Shell Scripts</li>
				<li>Groovy</li>
				<li>Python</li>
				<li>SSL Documentation</li>						
            </ul>

		<a href="#" class="button">Read more</a>
		<a href="#" class="button button-reversed">Comments</a>
		
		</article>
			

		<% include ../partials/footer %>		

		</section>

		<div class="clear"></div>

	</section>	
</body>
</html>
