<!doctype html>
<html>
<head>
	<!-- EJS Layout -->
	<% include ../partials/head %>
</head>

<body>
	<section id="body" class="width">
		<% include ../partials/mainheader %>
		<section id="content" class="column-right">
                		
	    <article>
	    	<% if(typeof message !== null || typeof message === undefined){ %>
				<h1><%= message %></h1>
			<% } %>
		</article>

				<% include ../partials/footer %>		

		</section>

		<div class="clear"></div>

	</section>	
</body>
</html>
