<!doctype html>
<html>
<head>
	<!-- EJS Layout -->
	<% include ../partials/head %>
</head>
<body>
	<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			
			<% include ../partials/mainheader %>
			
			<div class="page-header">
				<h2>
					Admin-Coder Repository <small>(Repository for Application Developers and System Administrators)</small>
				</h2>
			</div>			
			<p>Welcome to <em>Admin-Coder Repository</em>, a site containing tested code and scripts for Developers &amp; Administrators. This is a knowledge-base of tested Programming Code and Script. Using this site, users are able to explore more about Computer Technologies, Programming &amp; System Languages, and Networking Concepts.</p>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;To gain access to repositories, you need to <em>Sign up</em> and create an account, and then <em>Sign in</em> for further access.</p>
			
			<h2>
				Repository Services
			</h2>
			<div class="row">
				<div class="col-md-4">
					<div class="thumbnail">
						<span style="font-size: 96px;">
							<i class="icon ion-android-cloud-outline"></i>
							<!--<i class="icon ion-social-tux"></i>-->
							<i class="icon ion-android-globe"></i>
							<i class="icon ion-network"></i>							
						</span>
						<div class="caption">
							<h3>
								Cloud &amp; Infrastructure Services
							</h3>
							<p>
								Infrastructure is a major need for any Administratior to host Production Servers &amp; Storage Servers. Connect to major tools through our repository like Docker, VMWare Virtualization, etc.
							</p>
							<!--
							<p>
								<a class="btn btn-primary" href="#">Action</a> <a class="btn" href="#">Action</a>
							</p>
							-->
							<p>
								<a class="btn" href="#">View details »</a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="thumbnail">
						<span style="font-size: 96px;">
							<i class="icon ion-social-tux"></i>
							<i class="icon ion-social-windows"></i>
							<i class="icon ion-social-android"></i>
							<i class="icon ion-social-apple"></i>
						</span>			
						<div class="caption">
							<h3>
								Platform &amp; Middleware Services
							</h3>
							<p>
								With the competition grows up in IT Industry, requirement of Development Platform is another major requirement for Application Developers. Explore all platform reqirements from our repository like ISO, Middleware Components.
							</p>
							<p>
								<a class="btn" href="#">View details »</a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="thumbnail">
						<span style="font-size: 96px;">
							<i class="icon ion-android-desktop"></i>
							<i class="icon ion-android-mail"></i>
							<i class="icon ion-android-phone-portrait"></i>
							<i class="icon ion-document-text"></i>
						</span>
						<div class="caption">
							<h3>
								Development &amp; Deployment Services
							</h3>
							<p>
								Explore some exciting Applications developed in programming languages, and explore our Knowledge Base for useful Technical Documentation and real-time problem solutions.
							</p>
							<p>
								<a class="btn" href="#">View details »</a>
							</p>
						</div>
					</div>
				</div>
			</div>

			<h2>Code / Scripts in Repository</h2>		
		</div>

		<div class="col-md-4">
			<ul>
				<li>Core Java &amp; J2EE Components</li>
				<li>Spring MVC Framework</li>
				<li>Struts2 MVC Framework</li>
				<li>Jersey (JAX-RS) Restful Web Services</li>
				<li>Groovy Programming</li>
				<li>Hibernate ORM</li>					
			</ul>
		</div>
		<div class="col-md-4">
			<ul>
				<li>Client-side Javascript (AngularJS)</li>
				<li>Server-side Javascript (NodeJS, ExpressJS)</li>
				<li>Mongo DB, MySQL Database</li>
				<li>PHP Scripting Language</li>
				<li>CMS - Joomla, Wordpress</li>
				<li>Python Scripting Language</li>
			</ul>
		</div>
		<div class="col-md-4">
			<ul>
				<li>Linux Shell Scripting</li>
				<li>Windows Batch Scripting</li>
				<li>SSL Documentation</li>
				<li>VMWare Virtualization</li>
				<li>Networking Concepts</li>
				<li>Operating Systems ISO</li>	
			</ul>
		</div>
	</div>	
</div><br/>
	<!-- Footer Layout -->
	<% include ../partials/footer %>
</body>
</html>
