<!doctype html>
<html ng-app>
<head>
	<% include ../partials/head %>
</head>

<body>

		<section id="body" class="width">
			<% include ../partials/header %>
			<section id="content" class="column-right">
                		
	    <article>
			
				<h3>Java Hello World</h3>
				<code>/******************************************************************************<br/>
 *  Compilation:  javac HelloWorld.java<br/>
 *  Execution:    java HelloWorld<br/>
 *<br/>
 *  Prints "Hello, World". By tradition, this is everyone's first program.<br/>
 *<br/>
 *  % java HelloWorld<br/>
 *  Hello, World<br/>
 *<br/>
 *  These 17 lines of text are comments. They are not part of the program;<br/>
 *  they serve to remind us about its properties. The first two lines tell<br/>
 *  us what to type to compile and test the program. The next line describes<br/>
 *  the purpose of the program. The next few lines give a sample execution<br/>
 *  of the program and the resulting output. We will always include such <br/>
 *  lines in our programs and encourage you to do the same.<br/>
 *<br/>
 ******************************************************************************/<br/>
<br/>
public class HelloWorld {<br/>
<br/>
    <pre>public static void main(String[] args) {</pre><br/>
        <pre>// Prints "Hello, World" to the terminal window.
        System.out.println("Hello, World");</pre><br/>
    }<br/>
<br/>
}
</code>
<h3>About Java</h3>	
				<blockquote><img src="images/java.jpg"><p>Java is a general-purpose computer programming language that is concurrent, class-based, object-oriented, and specifically designed to have as few implementation dependencies as possible. It is intended to let application developers "write once, run anywhere" (WORA), meaning that compiled Java code can run on all platforms that support Java without the need for recompilation. Java applications are typically compiled to bytecode that can run on any Java virtual machine (JVM) regardless of computer architecture. As of 2016, Java is one of the most popular programming languages in use, particularly for client-server web applications, with a reported 9 million developers.[citation needed] Java was originally developed by James Gosling at Sun Microsystems (which has since been acquired by Oracle Corporation) and released in 1995 as a core component of Sun Microsystems' Java platform. The language derives much of its syntax from C and C++, but it has fewer low-level facilities than either of them.</p></blockquote>
				
				<!--	
				<h3>Java Utility Tools & Libraries</h3>									
				
				<ul>
					<li>Download</li>
					<li>IPR</li>
					<li>WINDOWS</li>
				</ul>
								
				<ol>
					<li>Download <a href="/Java_Bulk_Mailing_Code.zip">Bulk Mailing Code (SWING application)</a></li>
					<li>IPR</li>
					<li>WINDOWS</li>
				</ol>
				-->	
				
				<h3>Java Utility Tools & Libraries Downloads</h3>
				<table>
					<tr>
						<th>S. No.</th>
						<th>Application Name</th>
						<th>Java Technology</th>
						<th></th>
					</tr>
					<tr>
						<td>1</td>
						<td>Bulk Mailing Code</td>
						<td>SWING API</td>
						<td><a href="files/Java_Bulk_Mailing_Code.zip">Download</a></td>
					</tr>
					<tr>
						<td>2</td>
						<td>LDAP Integration</td>
						<td>Core Java API</td>
						<td><a href="files/LdapContextCreation.java">Download</a></td>
					</tr>					
	
				</table>
				<p>&nbsp;</p>
				<!--
				<h3>Form</h3>
				<fieldset>

					<legend>Form legend</legend>
					<form action="#" method="get">
						<p><label for="name">Name:</label>
						<input type="text" name="name" id="name" value="" /><br /></p>		
						<p><label for="email">Email:</label>
						<input type="text" name="email" id="email" value="" /><br /></p>
						<p><label for="message">Message:</label>	
						<textarea cols="60" rows="11" name="message" id="message"></textarea><br /></p>
						<p><input type="submit" name="send" class="formbutton" value="Send" /></p>
					</form>
	
				</fieldset>
				-->
		</article>

			<% include ../partials/footer %>
		</section>

		<div class="clear"></div>

	</section>
	

</body>
</html>
