<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<% include ../partials/head %>
</head>

<body>
<section id="body" class="width">
			<% include ../partials/header %>
			<section id="content">
                		
	    <article>			


	<div class="holder_top"></div>

	<div class="holder">

		<h1>SMB Signing Enable</h1>
		<br/>
		<p>To enable SMB signing on the Windows Server 2008 and 2008 R2 perform the following : </p>

		<cite>When SMB signing is enabled on both the client and server, SMB sessions are authenticated between the machines on a packet by packet basis. This does have a performance hit of between 10 to 15% as every packet's signature has to be verified. Exinda can still reduce this data but CIFS acceleration will not be as effective.

Typically Windows file servers that also act as a Domain Controller have SMB signing turned on. </cite>
		
		<p>Changes need to be applied in the Group Policy management console. </p>
		
		<ul>
			<li>Click on Start Button</li>
			<li>Go to Administrative Tool</li>
			<li>Go To Local Security Policy/Group Policy Management or Open Run and type <strong>gpedit.msc</strong></li>
		</ul>
		<br/>
		<p>Configure the Default Domain and Default Domain Controller Policies. The settings you are looking for are under:
		</p><br/>
		<ul>
			<li>Under <strong>Local Computer Policy</strong>, Click on <strong>Computer Configuration</strong><br/></li>
			<li>Expand <strong>Window Settings</strong>, &amp; <strong>Expand Security Settings</strong></li>
			<li>Under <strong>Security Settings</strong>, Expand <strong>Local Policies</strong></li>
			<li>Click on <strong>Security Options</strong> tree and look for:<br/>
			    - Microsoft Network Server : Digitally Sign Communication Always - Enabled</li>
		</ul>

	</div>
	</article>
	
	<% include ../partials/footer %>
	</section>

	<div class="clear"></div>

	</section>


</body>

</html>
