<!doctype html>
<html ng-app>
<head>
	<% include ../partials/head %>
</head>

<body>

		<section id="body" class="width">
			<% include ../partials/header %>
			<section id="content" class="column-right">
                		
	    <article>																			
	
				<h3>Knowledge Base</h3>
				
				<ul>
					<li><a href="/windows">Windows Knowledge base</a></li>
					<li><a href="/linux">Linux Knowledge base</a></li>					
				</ul>
				<!--				
				<ol>
					<li>Download <a href="/tomcat_ssl.bat">Generate CSR for Tomcat</a></li>
					<li>IPR</li>
					<li>WINDOWS</li>
				</ol>
				-->
				<h3>SOLUTIONS</h3>
				<code>WINDOWS</code>

				<blockquote><p>When a batch file is run, the shell program (usually COMMAND.COM or cmd.exe) reads the file and executes its commands, normally line-by-line. Unix-like operating systems (such as Linux) have a similar, but more flexible, type of file called a shell script. The filename extension .bat is used in DOS and Windows.</p></blockquote>
								
				<h3>SSL Documentation Downloads</h3>
				<div class="row">
					<div class="col-md-12">			
						<table class="table table-hover table-bordered">
							<thead>
								<tr>
									<th>S No.</th>
									<th>Web Server</th>
									<th>Library / Tool Used</th>
									<th>Extension</th>
									<th></th>
								</tr>						
							</thead>
							<tbody>								
								<tr class="active">
									<td>1</td>
									<td>Apache Tomcat</td>
									<td>keytool</td>
									<td>.jks</td>
									<td><a href="/files/tomcat.pdf">Download</a></td>
								</tr>
								<tr class="active">
									<td>2</td>
									<td>IIS Server</td>
									<td>IIS Manager</td>
									<td>.pkcs</td>
									<td><a href="/files/iis.pdf">Download</a></td>
								</tr>
								<tr class="active">
									<td>3</td>
									<td>Apache HTTP Server</td>
									<td>openssl</td>
									<td>.cer, .crt</td>
									<td><a href="/files/apache.pdf">Download</a></td>
								</tr>
								<tr class="active">
									<td>4</td>
									<td>SSL Installation</td>
									<td>openssl</td>
									<td>.cer, .crt</td>
									<td><a href="/files/openssl.pdf">Download</a></td>
								</tr>								
							</tbody>
						</table>
					</div>
				</div>
				
				<p>&nbsp;</p>

				<h3>Networking Documentation Downloads</h3>
				<table>
					<tr>
						<th>S No.</th>
						<th>Description</th>
						<th>Protocol</th>
						<th>Extension</th>
						<th></th>
					</tr>
					<tr>
						<td>1</td>
						<td>TCP Protocol Lifecycle</td>
						<td>TCP</td>
						<td>.swf</td>
						<td><a href="/files/packet_flow.swf">Download</a></td>
					</tr>						
				</table>
				<p>&nbsp;</p>
				<!--
				<h3>Form</h3>
				<fieldset>

					<legend>Form legend</legend>
					<form action="#" method="get">
						<p><label for="name">Name:</label>
						<input type="text" name="name" id="name" value="" /><br /></p>		
						<p><label for="email">Email:</label>
						<input type="text" name="email" id="email" value="" /><br /></p>
						<p><label for="message">Message:</label>	
						<textarea cols="60" rows="11" name="message" id="message"></textarea><br /></p>
						<p><input type="submit" name="send" class="formbutton" value="Send" /></p>
					</form>
	
				</fieldset>
				-->
		</article>

			
			<% include ../partials/footer %>

		</section>

		<div class="clear"></div>

	</section>
	

</body>
</html>
